
{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Go Frame</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
    <style>
    </style>
</head>

<body>
    <main class="container">
        <h1>Go Frame</h1>
    </main>
</body>

</html>
{{ end }}
